<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Lab-|-Pandas-Deep-Dive" data-toc-modified-id="Lab-|-Pandas-Deep-Dive-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Lab | Pandas Deep-Dive</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#1.-Import-Pandas-package-under-the-alias-pd-and-Numpy-under-the-alias-np" data-toc-modified-id="1.-Import-Pandas-package-under-the-alias-pd-and-Numpy-under-the-alias-np-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>1. Import Pandas package under the alias pd and Numpy under the alias np</a></span></li><li><span><a href="#2.-Define-a-variable-called-path-that-contains-the-path-to-the-csv-file-you-downloaded." data-toc-modified-id="2.-Define-a-variable-called-path-that-contains-the-path-to-the-csv-file-you-downloaded.-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>2. Define a variable called <code>path</code> that contains the path to the csv file you downloaded.</a></span></li><li><span><a href="#3.-Using-the-Pandas-read_csv()-method,-import-the-csv-file-at-the-path-above." data-toc-modified-id="3.-Using-the-Pandas-read_csv()-method,-import-the-csv-file-at-the-path-above.-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>3. Using the Pandas <code>read_csv()</code> method, import the csv file at the path above.</a></span></li><li><span><a href="#4.-Print-the-first-5-rows-of-data-to-see-what-the-data-look-like." data-toc-modified-id="4.-Print-the-first-5-rows-of-data-to-see-what-the-data-look-like.-1.0.4"><span class="toc-item-num">1.0.4&nbsp;&nbsp;</span>4. Print the first 5 rows of <code>data</code> to see what the data look like.</a></span></li><li><span><a href="#5.-Print-the-summary-(info)-of-the-data." data-toc-modified-id="5.-Print-the-summary-(info)-of-the-data.-1.0.5"><span class="toc-item-num">1.0.5&nbsp;&nbsp;</span>5. Print the summary (info) of the data.</a></span></li><li><span><a href="#6.-Print-the-number-of-columns-in-the-data." data-toc-modified-id="6.-Print-the-number-of-columns-in-the-data.-1.0.6"><span class="toc-item-num">1.0.6&nbsp;&nbsp;</span>6. Print the number of columns in the data.</a></span></li><li><span><a href="#7.-Print-all-column-names." data-toc-modified-id="7.-Print-all-column-names.-1.0.7"><span class="toc-item-num">1.0.7&nbsp;&nbsp;</span>7. Print all column names.</a></span></li></ul></li><li><span><a href="#Now-that-we-have-a-general-understanding-of-the-data,-we'll-start-working-on-the-challenge-questions." data-toc-modified-id="Now-that-we-have-a-general-understanding-of-the-data,-we'll-start-working-on-the-challenge-questions.-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Now that we have a general understanding of the data, we'll start working on the challenge questions.</a></span><ul class="toc-item"><li><span><a href="#8.-How-many-apps-are-there-in-the-data-source?" data-toc-modified-id="8.-How-many-apps-are-there-in-the-data-source?-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>8. How many apps are there in the data source?</a></span></li><li><span><a href="#9.-What-is-the-average-rating-of-all-apps?" data-toc-modified-id="9.-What-is-the-average-rating-of-all-apps?-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>9. What is the average rating of all apps?</a></span></li><li><span><a href="#10.-How-many-apps-have-an-average-rating-no-less-than-4?" data-toc-modified-id="10.-How-many-apps-have-an-average-rating-no-less-than-4?-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>10. How many apps have an average rating no less than 4?</a></span></li><li><span><a href="#11.-How-many-genres-are-there-in-total-for-all-the-apps?" data-toc-modified-id="11.-How-many-genres-are-there-in-total-for-all-the-apps?-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>11. How many genres are there in total for all the apps?</a></span></li><li><span><a href="#12.-What-are-the-top-3-genres-that-have-the-most-number-of-apps?" data-toc-modified-id="12.-What-are-the-top-3-genres-that-have-the-most-number-of-apps?-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>12. What are the top 3 genres that have the most number of apps?</a></span></li><li><span><a href="#13.-Which-genre-is-most-likely-to-contain-free-apps?" data-toc-modified-id="13.-Which-genre-is-most-likely-to-contain-free-apps?-1.1.6"><span class="toc-item-num">1.1.6&nbsp;&nbsp;</span>13. Which genre is most likely to contain free apps?</a></span></li><li><span><a href="#14.-Now-you-can-calculate-the-proportion-of-the-free-apps-in-each-genre-based-on-the-value-counts-you-obtained-in-the-previous-two-steps." data-toc-modified-id="14.-Now-you-can-calculate-the-proportion-of-the-free-apps-in-each-genre-based-on-the-value-counts-you-obtained-in-the-previous-two-steps.-1.1.7"><span class="toc-item-num">1.1.7&nbsp;&nbsp;</span>14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps.</a></span></li><li><span><a href="#15.-If-a-developer-tries-to-make-money-by-developing-and-selling-Apple-Store-apps,-in-which-genre-should-s/he-develop-the-apps?-Please-assume-all-apps-cost-the-same-amount-of-time-and-expense-to-develop." data-toc-modified-id="15.-If-a-developer-tries-to-make-money-by-developing-and-selling-Apple-Store-apps,-in-which-genre-should-s/he-develop-the-apps?-Please-assume-all-apps-cost-the-same-amount-of-time-and-expense-to-develop.-1.1.8"><span class="toc-item-num">1.1.8&nbsp;&nbsp;</span>15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.</a></span></li></ul></li></ul></li></ul></div>

# Lab | Pandas Deep-Dive

### 1. Import Pandas package under the alias pd and Numpy under the alias np

In [2]:
import pandas as pd
import numpy as np

### 2. Define a variable called `path` that contains the path to the csv file you downloaded.

In [5]:
path = "./data/apple_store.csv"

### 3. Using the Pandas `read_csv()` method, import the csv file at the path above. 

Assign the returned value to a variable called `data`.

Note: you can omit the `sep` parameter for `read_csv()` because the csv file uses the default separator of ",".

In [6]:
data = pd.read_csv(path)

### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [7]:
data.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

### 5. Print the summary (info) of the data.

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7197 entries, 0 to 7196
Data columns (total 9 columns):
id                  7197 non-null int64
track_name          7197 non-null object
size_bytes          7197 non-null int64
price               7197 non-null float64
rating_count_tot    7197 non-null int64
rating_count_ver    7197 non-null int64
user_rating         7197 non-null float64
user_rating_ver     7197 non-null float64
prime_genre         7197 non-null object
dtypes: float64(3), int64(4), object(2)
memory usage: 506.2+ KB

### 6. Print the number of columns in the data.

In [10]:
len(data.columns)

9

### 7. Print all column names.

In [11]:
data.columns

Index(['id', 'track_name', 'size_bytes', 'price', 'rating_count_tot',
       'rating_count_ver', 'user_rating', 'user_rating_ver', 'prime_genre'],
      dtype='object')

## Now that we have a general understanding of the data, we'll start working on the challenge questions.

### 8. How many apps are there in the data source? 

Print the # of observations of the data.

*Hint: Your code should return the number 7197.*

In [15]:
data["id"].nunique()

7197

### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [17]:
user_rating = data["user_rating"]

Now you can calculate the average of the `user_rating` data.

Your code should return 3.526955675976101

In [18]:
user_rating.mean()

3.526955675976101

### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [19]:
user_rating_high = user_rating[user_rating >= 4]

Now obtain the length of `user_rating_high` which should return 4781.

In [20]:
len(user_rating_high)

4781

### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [21]:
genres = data["prime_genre"]

Print the length of the unique values of `genres`. Your code should return 23.

In [22]:
genres.nunique()

23

### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [46]:
genres_value_count = genres.value_counts()
genres_value_count

Games                3862
Entertainment         535
Education             453
Photo & Video         349
Utilities             248
Health & Fitness      180
Productivity          178
Social Networking     167
Lifestyle             144
Music                 138
Shopping              122
Sports                114
Book                  112
Finance               104
Travel                 81
News                   75
Weather                72
Reference              64
Food & Drink           63
Business               57
Navigation             46
Medical                23
Catalogs               10
Name: prime_genre, dtype: int64

### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [41]:
free_apps = data[data["price"] == 0.00]
free_apps_value_counts = free_apps["prime_genre"].value_counts()

### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [47]:
(free_apps_value_counts / genres_value_count).sort_values(ascending=False)

Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64

### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [50]:
data[["price", "prime_genre"]].groupby("prime_genre").mean().sort_val

                      price
prime_genre
Book               1.790536
Business           5.116316
Catalogs           0.799000
Education          4.028234
Entertainment      0.889701
Finance            0.421154
Food & Drink       1.552381
Games              1.432923
Health & Fitness   1.916444
Lifestyle          0.885417
Medical            8.776087
Music              4.835435
Navigation         4.124783
News               0.517733
Photo & Video      1.473295
Productivity       4.330562
Reference          4.836875
Shopping           0.016311
Social Networking  0.339880
Sports             0.953070
Travel             1.120370
Utilities          1.647621
Weather            1.605417